@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    background-color: #f8f9fa;
    color: #333;
}

header {
    width: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
    background-color: #ffffff;
}

nav ul {
    height: 60px;
    background: linear-gradient(90deg, #343a40, #000);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav a {
    color: #ffffff;
    font-size: 1.2em;
    text-decoration: none;
    transition: color 0.3s;
}

nav a:hover {
    color: #ffc107;
}

.imagecontainer,
img {
    width: 100%;
    transition: 0.5s;
    cursor: pointer;
    display: block;
    margin: auto;
    border-radius: 10px;
}

.content {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    transition: 0.6s;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.content p {
    font-size: 2em;
    color: #fff;
    border: 2px solid #fff;
    padding: 15px;
    border-radius: 10px;
    margin-top: 15px;
}

.imagecontainer:hover .content {
    opacity: 1;
}

.content>* {
    transform: translateY(25px);
    transition: transform 0.6s;
}

li {
    list-style: none;
    transition: 0.3s;
}

li:hover {
    transform: scale(1.1);
}

h1 {
    margin-bottom: 20px;
    font-size: 3em;
    color: #343a40;
    text-align: center;
}

a {
    color: #343a40;
    font-size: 1.2em;
    transition: color 0.3s;
}

a:hover {
    color: #ffc107;
}

#imger {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
    background: linear-gradient(90deg, #343a40, #000);
}

.logo {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.logo img {
    width: 150px;
}

main {
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

#about {
    font-size: 1.1em;
    padding: 30px;
    margin-top: 50px;
    height: auto;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    text-align: center;
}

#about p {
    font-size: 1.1em;
    line-height: 1.8;
    color: #333;
}

section h1 {
    text-align: center;
    font-size: 3em;
    margin-bottom: 30px;
    color: #343a40;
}

#pictures {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    padding: 30px;
    border-radius: 10px;
    margin-top: 50px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.gridItem,
#pictures img {
    width: 100%;
    max-width: 400px;
    margin: auto;
    padding: 20px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    border-radius: 10px;
}

.gridItem:hover,
#pictures img:hover {
    transform: scale(1.1);
    z-index: 1;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

#another,
#another2,
#another3 {
    height: 30vh;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    margin-top: 50px;
}

footer {
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(90deg, #343a40, #000);
    color: #fff;
}

#fBox {
    width: 80%;
    height: 10vh;
    background-color: #ffc107;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    transition: background-color 0.3s;
}

#fBox:hover {
    background-color: #ff8c00;
    transform: scale(1.05);
}
/* Common styles for all screen sizes */
#scrollToTopButton {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
}

#scrollToTopButton:hover {
    background-color: #0056b3;
}

/* Media query for smaller screens */
@media screen and (max-width: 768px) {
    /* Adjustments for smaller screens */
    body {
        font-size: 14px; /* Example: Decrease the font size for better readability on smaller screens */
    }

    header {
        position: relative;
    }

    nav {
        display: flex;
        flex-direction: column;
        background-color: rgba(0, 0, 0, 0.7);
        height: auto;
        overflow: hidden;
        max-height: 0;
        transition: max-height 0.2s ease-out;
    }

    nav.show {
        max-height: 500px; /* Adjust the maximum height as needed */
    }

    nav li {
        width: 100%;
        text-align: center;
        padding: 10px;
        border-bottom: 1px solid #333;
    }

    nav li:last-child {
        border-bottom: none;
    }

    nav a {
        display: block;
        color: #fff;
        text-decoration: none;
    }

    #mobileNavIcon {
        display: block;
        cursor: pointer;
        color: #fff;
        font-size: 24px;
        margin-top: 10px;
        text-align: right;
    }
}
